*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0px 50px;
    background-color: black;

}

.primero{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px; 
}

.segundo{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px; 
   
}

h1{
    display: flex;
    align-items: center;
    font-size: x-large;
    color: white;
    font-weight: lighter;
}

header a{
    text-decoration: none;
    margin-top: 5px;
    color: white;
    padding: 10px 10px;
    border-radius: 15px;
    transition: all 0.9s ease;
}

#ultimo{
    color: black;
    padding: 10px 10px;
    background-color: white;
    border-radius: 15px;
}

a:hover{
    background-color: rgb(57, 57, 57);
}

#ultimo:hover{
    background-color: rgb(56, 54, 54);
}

svg{
    vertical-align: middle;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 100px;
    background-color: black;
    height: 600px;

}

h2{
    font-size: 50px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.A{
    display: flex;
    justify-content:space-between;


}

.B{
   display: flex;
   justify-content:space-between;
}


#u{
  color: white;
  margin-top: 50px;
  font-size: xx-large;
  padding: 20px 20px;
  width: 45%;
  font-weight: bolder;
  border-bottom: 1px solid;
  border-radius: none;
  text-align: start;

}

#u, #s{
    display: flex;
    justify-content: space-between;
    transition: all 0.9s ease;
}

#s{
    color: white;
    margin-top: 50px;
    font-size: xx-large;
    padding: 20px 20px;
    width: 45%;
    font-weight: bolder;
    border-bottom: 1px solid;
}

img{
    width: 562px;
}

#u, #s:hover{
    cursor: pointer;
    border-bottom: 1px solid white;    
}


#imagen{
    display: flex;
    justify-content: center;
    height: 130px;
    width: 130px;
    
}

section{
    max-width: 1150px;

    margin: auto;
    margin-top: 50px;
}

.listaSuge {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 18px;
}

.suge {
    display: flex;
    height: 164px;
    width: 100%;
    max-width: 371px;
}

h3{
    font-size: xx-large;
    font-weight: bolder;
}

h4{
    font-size: 120%;
    font-weight: lighter;
    font-weight: 600;
    margin-bottom: 15px;

}

#ri2{
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 35px;
    font-size: medium;
}

#ri2:hover{
  background-color: transparent;
}

P{
    font-size: small;
}


footer{
    padding: 0px 100px;
    background-color: black;
    height: 870px;
}

h5{
    color: white;
    margin-top: 100px;
    font-size: x-large;
    font-weight: lighter;
    margin-bottom: 40px;
}

h6{
    color: white;
    font-size: medium;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

#Visi{
    text-decoration: none;
    color: white;
    font-size: medium;
    font-weight: lighter;
    max-width: 200px;
    height: 65px;
    transition: all 0.9s ease;
}


#Visi:hover{
    background-color: black;
    border-bottom: 1px solid white;
}

.compa{
    display: flex;
    max-width: 1152px;
    height: 296px;
    
}

.compañia{
    display: flex;
    flex-direction: column;
    height: 296px;
    width: 100%;
    max-width: 290px;
}

.produc{
    display: flex;
    flex-direction: column;
    height: 296px;
     width: 100%;
    max-width: 290px;
}


.cuida{
    display: flex;
    flex-direction: column;
    height: 296px;
    width: 100%;
    max-width: 290px;
}


.viaje{
    display: flex;
    flex-direction: column;
    height: 296px;
    width: 100%;
    max-width: 290px;
    

}

#com, #pro, #Cui, #via{
    text-decoration: none;
    margin-top: 15px;
    color: white;
    font-size: 100;
    width: 70%;
}

#com , #pro , #Cui , #via:hover{

   background-color: transparent;
   
}



.social{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
}

.redes{
    display: flex;
    max-width: 558px;
    height: 72px;   
    background-color: black;
    

}

.ubicacion{
    display: flex;
    max-width: 558px;
    height: 72px;  
    background-color: black;
}

#soci svg{
    height: 30px;
    width: 18px;
    margin: 10px;
    vertical-align: middle;
    color: white;    
}

#soci{
    border-radius: 10px;
    height: 50px;
    transition: all 0.9s ease;
}

#socil{
    text-decoration: none;
    color: white;
    margin: 10px;
    border-radius: 10px;
    height: 50px;
    transition: all 0.9s ease;
    
}

#socil svg{
    height: 30px;
    width:  18px;
    margin: 10px;
    vertical-align: middle;
    color: white;    
}



.aplicaciones{
    max-width: 558px;
    height: 54.77px;
    margin-top: 45px;
}


#google{
    height: 37.92px;
    max-width: 127.98px;
    
}

#api:hover{
    background-color: transparent;
}

.ultimo{
    display: flex;
    color: white;
    justify-content: space-between;
    font-size: x-small;
    margin-top: 40px;
   
}

#ulti{

    text-decoration: none;
    color: white;
    margin: 18px;
    border-radius: 5px;
}

#ult{
    display: flex;

}

