*{
    padding: 0%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 0px 50px;
    background-color: black;

}

.primero{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px; 
}

.segundo{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px; 
   
}

h1{
    display: flex;
    align-items: center;
    font-size: x-large;
    color: white;
    font-weight: lighter;
}

header a{
    text-decoration: none;
    margin-top: 5px;
    color: white;
    padding: 10px 10px;
    border-radius: 15px;
    transition: all 0.9s ease;
}

#ultimo{
    color: black;
    padding: 10px 10px;
    background-color: white;
    border-radius: 15px;
}

a:hover{
    background-color: rgb(57, 57, 57);
}

#ultimo:hover{
    background-color: rgb(56, 54, 54);
}

svg{
    vertical-align: middle;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 100px;
    background-color: black;
    height: 600px;

}

h2{
    font-size: 50px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.A{
    display: flex;
    justify-content:space-between;


}

.B{
   display: flex;
   justify-content:space-between;
}


#u{
  color: white;
  margin-top: 50px;
  font-size: xx-large;
  padding: 20px 20px;
  width: 45%;
  font-weight: bolder;
  border-bottom: 1px solid;
  border-radius: none;
  text-align: start;

}

#u, #s{
    display: flex;
    justify-content: space-between;
    transition: all 0.9s ease;
}

#s{
    color: white;
    margin-top: 50px;
    font-size: xx-large;
    padding: 20px 20px;
    width: 45%;
    font-weight: bolder;
    border-bottom: 1px solid;
}

img{
    width: 562px;
}

#u, #s:hover{
    cursor: pointer;
    border-bottom: 1px solid white;    
}


#imagen{
    display: flex;
    justify-content: center;
    height: 130px;
    width: 130px;
    
}

section{
    max-width: 1150px;

    margin: auto;
    margin-top: 50px;
}

.listaSuge {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 18px;
}

.suge {
    display: flex;
    height: 164px;
    width: 100%;
    max-width: 371px;
}

h3{
    font-size: xx-large;
    font-weight: bolder;
}

h4{
    font-size: 120%;
    font-weight: lighter;
    font-weight: 600;
    margin-bottom: 15px;

}

#ri2{
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 35px;
    font-size: medium;
}

P{
    font-size: small;
}


footer{
    padding: 0px 100px;
    background-color: black;
    height: 600px;
}

h5{
    color: white;
    margin-top: 100px;
    font-size: x-large;
    font-weight: lighter;
}

h6{
    color: white;
}

.footer{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}